
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  background-color: black;
}


.nav-link {
  color: white !important;
}

.navbar-brand{color : white}

.navbar-nav{

  margin-left: auto ;
}


.smallimg{
  height : 200px !important;
  width : auto !important;
  border-radius: 5px !important;
}

h1{
  font-size:20px;
}
.bs{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 20px;
  border: 5px;
  padding : 20px;

}

.bigimg{

  height : 400px !important;
  border-radius : 5px !important;

}

input,select,.ant-picker{

  margin-top: 10px;
  border: 2px solid black !important;
  width : 100%;
  border-radius : 3px;
  height : 40px;
}

table {
  font-family: arial, sans-serif !important;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

h2{
  padding: 10px;
}

.ant-picker-input input{

  border : none !important;
}